<h1 class="text-center">Welcome to about page</h1>
<div class="col text-center" style="padding: 10px;">
<img src="img/mervinsquare.png" alt="mervin" class="img-thumbnail rounded-circle" width="300" >
<div class="display-4">MervinWijaya</div>
<div class="lead">Lifelong Learner</div>
</div>