<div class="container mt-3">
<% if (!contact) { %>
    <div class="alert alert-danger" role="alert">
       Contact who you requested ain't available <br>
       <a href="/contact" class="alert-link">Please back to Contact Page</a>.
      </div>
<% } else { %>
    <div class="card" style="width: 18rem;">
    <div class="card-body">
        
      <h5 class="card-title"><%= contact.nama %> </h5>
      <p class="card-text"><%= contact.email %></p>
      <p class="card-text"><%= contact.NoHP %></p>
      <a href="/contact" class="btn btn-primary">&laquo; Go Back</a>
    </div>
  </div>
<% } %>
</div>